{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login - WhereNext</title>
    <link rel="stylesheet" href="{% static 'wherenext_a/style.css' %}">
</head>

<body>

{% include 'wherenext_a/header.html' %}

<div class="container form-box">
    <div class="card">

        <h3 class="center">Login</h3>

        {% for m in messages %}
            <p class="msg">{{ m }}</p>
        {% endfor %}

        {% if error %}
            <p class="msg error">{{ error }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <label>Username / Email</label>
            <input type="text" name="identifier" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <button type="submit" class="btn">Login</button>

            <p class="small">
                New user? <a href="/signup/">Create account</a>
            </p>
        </form>

    </div>
</div>

{% include 'wherenext_a/footer.html' %}

</body>
</html>
