
body {
    font-family: Arial, sans-serif;
    background: #eef1f6;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
}


.top-header {
    background: #1f3b73;   
    padding: 12px 0;
}


.navbar {
    background: #1f3b73;
    padding: 12px 20px;

    display: flex;
    justify-content: space-between;   
    align-items: center;              

    color: white;
}

.nav-left h2 {
    margin: 0;
    font-size: 26px;
    color: white;
    font-weight: bold;
}

.nav-right a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-size: 17px;
}

.nav-right a:hover {
    text-decoration: underline;
}


.form-box .card {
    background: #ffffff;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #bfc4ce;
}

input, button {
    width: 100%;
    padding: 9px;
    margin: 6px 0;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
}


.btn {
    background: #1f3b73;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

.btn:hover {
    background: #294889;
}


.msg { color: green; }
.error { color: red; }


.packages {
    margin-top: 20px;
}

.package-card {
    background: #ffffff;
    padding: 14px;
    margin: 12px 0;
    border-radius: 6px;
    box-shadow: 0px 0px 6px #cbd0d8;
}

.package-card h4 {
    margin: 0 0 5px 0;
}
